@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* scroll do body */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: gray;
    border-radius: 2px;
}


::-webkit-scrollbar-thumb {
    background: rgb(59 130 246);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(16, 101, 240);
}

/*scroll da div de habilidades */

.custom-scroll::-webkit-scrollbar-track  {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

body {
    font-family: 'Varela Round', sans-serif;
}

@keyframes dropdown_entrada {
    from {
        top: 0%;
    }
    tp {
        top: 100%;
    }
}