::-webkit-scrollbar {
    width: 10px;
    border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59 130 246);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(59 130 246);
}